.about {
  margin-top: 80px;
  &__list {
    list-style-type: none;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    li {
      font-size: 25px;
      text-align: center;
    }
  }
}
